/JenkinsServiceControl/packages
/JenkinsServiceControl/JenkinsServiceControl/JenkinsServiceControl.csproj.user
/JenkinsServiceControl/JenkinsServiceControl/bin
/JenkinsServiceControl/JenkinsServiceControl/obj
