/JenkinsServiceControl/packages
/JenkinsServiceControl/JenkinsServiceControl/JenkinsServiceControl.csproj.user
/JenkinsServiceControl/JenkinsServiceControl/bin
/JenkinsServiceControl/JenkinsServiceControl/obj
/ScmManagerServiceControl/ScmManagerServiceControl/packages
/ScmManagerServiceControl/ScmManagerServiceControl/obj
/ScmManagerServiceControl/ScmManagerServiceControl/bin
/ScmManagerServiceControl/packages
/ScmManagerServiceControl
