<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>

  <appSettings>

    <!--<LOCAL>-->
    <add key="directory_RootName" value="D:\Jenkins\jobs"/>
    <add key="service_Name" value="Jenkins"/>
    <add key="service_URL" value="http://localhost:8080/"/>
    <add key="user_Name" value="admin"/>
    <add key="password" value="admin"/>



  </appSettings>
</configuration>
